@charset "UTF-8";

.container {
  overflow: hidden;
  padding: 20px 0;
  box-sizing: border-box;
}

.heading {
  font-size: 2rem;
  text-align: center;
}
@media screen and (max-width:767px) {
  .heading {
    font-size: 1.5rem;
  }
}

.headdingTitle {
  font-size: 24px;
  text-align: center;
  margin: 50px auto;
}
@media screen and (max-width:767px) {
  .headdingTitle {
    font-size: 18px;
    margin: 50px auto 0;
  }
}

.wide {
  margin-bottom: 100px;
}

.wide__text {
  max-width: 960px;
  margin: 50px auto;
}

.wide__map {
  max-width: 100%;
  margin-bottom: 50px;
}

.devide {
  display: flex;
  max-width: 960px;
  margin: 100px auto;
}
@media screen and (max-width:767px) {
  .devide {
    flex-direction: column;
    margin: 20px auto;
  }
}

.devide__text {
  width: 50%;
  padding-right: 20px;
}
@media screen and (max-width:767px) {
  .devide__text {
    width: 100%;
  }
}

.devide__map {
  width: 50%;
  max-width: 100%;
}
.devide__map iframe {
  max-width: 100%;
}

@media screen and (max-width:767px) {
  .devide__map {
    width: 100%;
  }
}

.access {
  display: flex;
  margin-bottom: 15px;
}

.term {
  width: 20%;
  font-weight: bold;
}

.description {
  width: 80%;
}

.image {
  max-width: 100%;
}
.image img {
  max-width: 100%;
}
